*{
    margin: 0;
    padding: 0;
}

div.contain{
    height: 100vh;
    background-color: black;
}

div.contain i{
    width: 1px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
}